@import "tailwindcss";
@import "@repo/tailwind-config";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
}

.prose pre {
  @apply my-4 bg-stone-50 dark:bg-stone-900;
}

.prose .anchor {
  @apply absolute invisible no-underline text-secondary;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.blog-link {
  @apply block hover:no-underline;
}

.blog-link div .blog-link-date {
  @apply tabular-nums font-mono;
}

.blog-link div .blog-link-title {
  @apply tracking-tight font-semibold decoration-secondary;
}

.blog-link div .blog-link-subtitle {
  @apply tracking-normal;
}

.blog-link:hover div .blog-link-title {
  @apply transition-all;
}

.blog-link:hover div .blog-link-title {
  @apply decoration-secondary underline underline-offset-2 decoration-[0.1em];
}

.prose {
  @apply my-6;
}

.prose a {
  @apply underline-offset-2;
}

.prose .anchor:after {
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

.prose pre {
  @apply rounded-lg overflow-x-auto border py-2 px-3 text-sm;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg font-mono;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  font-weight: 500;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0 mb-6;
}

.prose p {
  @apply my-4 md:text-lg;
}

.prose h1 {
  @apply text-4xl font-bold mt-6 mb-2;
}

.prose h2 {
  @apply text-3xl font-bold mt-6 mb-2 decoration-[0.1em];
}

.prose h3 {
  @apply text-2xl font-semibold mt-6 mb-2 decoration-[0.1em];
}

.prose h4 {
  @apply text-xl font-semibold mt-6 mb-2 decoration-[0.1em];
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose li {
  @apply md:text-lg;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}
