@import "tailwindcss";
@import "@repo/tailwind-config";

h1 {
  @apply text-4xl font-extrabold mb-4 text-primary;
}

h2 {
  @apply text-2xl md:text-3xl font-bold mt-4 mb-4 text-primary;
}

h3 {
  @apply text-xl md:text-2xl font-semibold mt-4 mb-4 text-secondary;
}

h4 {
  @apply text-lg font-semibold mt-4 mb-3;
}

a {
  @apply hover:cursor-pointer hover:underline decoration-accent underline-offset-2 decoration-[0.1em] transition-all;
}

hr {
  @apply mb-6;
}

footer {
  @apply mt-10;
}

.cta {
  @apply text-card-foreground bg-card ring-border ring-[1px] px-4 py-2 font-medium rounded-md hover:underline decoration-accent;
}

.cta-subtle {
}

.project-showcase {
  @apply mt-10 lg:mt-12 flex flex-col gap-16 lg:gap-24;
}

.project-showcase h3 {
  @apply text-2xl lg:text-3xl m-0;
}

.project-image {
  @apply rounded-md border;
}

.project-title {
  @apply decoration-accent underline-offset-4;
}

.project-container {
  @apply mt-4 lg:mt-6 flex flex-col lg:flex-row gap-6;
}

.project-details {
  @apply w-full lg:w-[70%];
}

.project-summary {
  @apply text-base lg:text-lg;
}

.technologies span {
  @apply text-card-foreground text-sm font-mono font-medium bg-card ring-[1px] ring-border rounded-md px-2 leading-8 mr-2 my-1 inline-block text-center;
}

.polaroid-gallery {
  @apply mt-10 px-5 lg:px-0 items-center flex flex-col sm:flex-row gap-10;
}

.polaroid-container {
  @apply p-2 border h-full max-w-75 rounded-sm inline-block bg-white pointer-events-none;
}

.polaroid-container p {
  @apply px-1 text-center my-1! text-black;
}

.polaroid {
  display: inline-block;
  position: relative;
}

.polaroid img {
  @apply block w-full rounded-sm;
}

.polaroid:after {
  content: "";
  background: radial-gradient(
    rgba(255, 255, 255, 0) 60%,
    rgba(0, 0, 0, 0.1) 80%,
    rgba(0, 0, 0, 0.2) 100%
  );
  @apply absolute top-0 left-0 w-full h-full block rounded-sm;
}

.testimonial-container {
  @apply flex flex-col gap-10 ml-0 lg:ml-1;
}

.testimonial-person {
  @apply grid gap-3 items-center ml-1;
  grid-template-columns: 80px 1fr;
}

.testimonial-person h3 {
  @apply font-semibold text-xl m-0;
}

.testimonial-person h4 {
  @apply text-lg font-medium m-0;
}

.testimonial {
  @apply mt-4;
}

.testimonial p {
  @apply pl-2 border-l-2 border-foreground;
}
